{% extends "base.html" %}

{% block content %}
    <h1>Create World</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.world_name.label }}</br>
            {{ form.world_name(size=64) }}</br>
            {% for error in form.world_name.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}

            {{ form.description.label }}</br>
            {{ form.description() }}</br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        {{ form.world_type.label }}</br>
            {{ form.world_type() }}</br>
            {% for error in form.world_type.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}