{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <h2>Welcome, {{ current_user.username }}.</h2>
    <hr>
    <h1>Recent Worlds</h1>
    {% if not worlds %}
        <p>It looks like there is nothing here...</p>
        <a href="{{ url_for('main.create_world') }}">Click here to create your first world!</a>
    {% else %}
        <small><a href="{{ url_for('main.create_world') }}">Create a new world.</a></small>
    {% endif %}
    {% for world in worlds %}
        {% include '_world_stub.html' %}
    {% endfor %}
    <hr>
    <h1>Recent Projects</h1>
    {% if not projects %}
        <p>It looks like there is nothing here...</p>
    {% endif %}
    {% for project in projects %}
        {% include "_project_stub.html" %}
    {% endfor %}
{% endblock %}