{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <h2>Welcome, {{ current_user.username }}.</h2>
    <hr>
    <h1>Recent Worlds</h1>
    {% if not worlds %}
        <p>It looks like there is nothing here...</p>
        <a href="{{ url_for('create_world') }}">Click here to create your first world!</a>
    {% else %}
        <a href="{{ url_for('create_world') }}">Create a new world.</a>
    {% endif %}
    {% for world in worlds %}
    <div>
        <h2>{{ world.name }}</h2>
        <p>{{ world.creation_date.strftime('%Y-%m-%d') }}</p>
        <a href="{{ url_for('view_world', world_id=world.id) }}">View {{world.name}}</a>
    </div>
    {% endfor %}
    <hr>
    <h1>Recent Projects</h1>
    {% if not projects %}
        <p>It looks like there is nothing here...</p>
    {% endif %}
    {% for project in projects %}
    <div>
        <h2>{{ project.name }}</h2>
        <a href="{{ url_for('view_world', world_id=project.world.id) }}">{{ project.world.name }}</a>
        <p>{{ project.creation_date.strftime('%Y-%m-%d') }}</p>
        <a href="{{ url_for('view_project', project_id=project.id) }}">View {{project.name}}</a>
        <p>{{ project.description }}</p>
    </div>
    {% endfor %}
{% endblock %}